name: Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: "Update and install dependencies"
        run: |
          sudo apt-get update
          sudo apt-get -y install gcc g++ make cmake gdb freeglut3 libglew-dev
      - name: Build
        run: bash unix_run.sh
      - name: Upload Artifact to GitHub Action
        uses: actions/upload-artifact@v4
        with:
          path: build/*
          name: Sandbox
